/* Global styles */
body {
    background-color: #002f6c; /* Dim blue background color */
    color: #ffffff; /* White text color for contrast */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header section */
header {
    background-color: #002f6c;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

/* Container for the main content */
.container {
    background-color: #ffffff; /* White container background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    color: #002f6c;
    flex-grow: 1; /* This helps the container expand to take up available space */
}

h1 {
    color: #007bff; /* Bootstrap primary color for headings */
    margin-bottom: 20px;
}

label {
    color: #002f6c; /* Dark text color for labels */
    font-size: 1.1em;
}

/* Input field styling */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #007bff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em;
    color: #002f6c;
    background-color: #f9f9f9;
}

input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
}

/* Button styling */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transition: background-color 0.3s ease;
}

/* Customization for the "Check another URL" button */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 12px 30px;
    font-size: 1.1em;
    margin-top: 20px;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #4e555b;
    transition: background-color 0.3s ease;
}

/* Loader */
#loading {
    font-size: 1.2em;
    display: none;
}

/* Services section */
.services {
    background-color: #002f6c; /* Dim blue background */
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    margin-top: 50px; /* Pushed down */
}

.services h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

.services p {
    font-size: 1.2em;
}

/* Footer section */
footer {
    background-color: #001f4d; /* Slightly darker blue for footer */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: auto;
    font-size: 0.9em;
}
